/* flex-1 */
.flex-1 {
    flex: 1;
}
/* background-color */
.bg-gray-900 {
    background-color: var(--gray-900);
}

.bg-black {
    background-color: var(--black);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-black-opa {
    background-color: var(--black);
    opacity: 0.95;
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-main {
    background-color: rgb(243, 243, 244);
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-age {
    background-color: rgb(233, 143, 41);
}

/* color */
.cl-gray-100 {
    color: var(--gray-100);
}

.cl-gray-400 {
    color: var(--gray-400);
}

.cl-gray-500 {
    color: var(--gray-500);
}

.cl-gray-600 {
    color: var(--gray-600);
}

.cl-pink {
    color: var(--pink);
}

.cl-age {
    color: rgb(225, 129, 19);
}

/* border-radius */
.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

/* border */

.bd-gray-100 {
    border: 1px solid var(--gray-100);
}

.bd-gray-300 {
    border: 1px solid var(--gray-300);
}

.bd-gray-500 {
    border: 1px solid var(--gray-500);
}

.bd-bottom-600 {
    border-bottom: 1px solid var(--gray-600);
}

/*  font size */

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

/* font bold */
.fb-600 {
    font-weight: 600;
}

.fb-400 {
    font-weight: 400;
}

.fb-700 {
    font-weight: 700;
}

.fb-500 {
    font-weight: 500;
}

.fi {
    font-style: italic;
}

/* hover */

.hover-opa:hover {
    color: var(--gray-100);
    opacity: 0.7;
    transition: all 1s;
}

.hover-gray-100:hover {
    color: var(--gray-100);
}

.hover-gray-200:hover {
    color: var(--gray-200);
}

.hover-pink:hover {
    color: var(--pink);
}

.hover-age:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* margin */
.mt-90 {
    margin-top: 90px;
}

.mt-60 {
    margin-top: 60px;
}

.mr--4 {
    margin-right: -0.4rem;
}

.mr--7 {
    margin-right: 0.7rem;
}

.ml--4 {
    margin-left: -0.4rem;
}
/* padding */
.p-0-8 {
    padding: 0px 8px;
}

.p-60-0 {
    padding: 60px 0;
}

/*  opacity */

.opa-1 {
    opacity: 1;
}

/* width cá»©ng */
.w40 {
    width: 40px;
    text-align: center;
}

/* word-wrap */
.word-w {
    word-wrap: break-word;
}

/* overflow */
.over-hid {
    overflow: hidden;
}

.over-scY {
    overflow-y: scroll;
}

.over-auto {
    overflow: auto;
}

/* Btn */

.btn--primary {
    border-radius: 10px;
    padding: 8px 16px;
}

.btn--large {
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 16px;
}

.btn-rounded {
    border-radius: 16px;
    padding: 8px 16px;
}
.btn-pink {
    background-color: var(--pink);
    color: var(--gray-100);
}

.btn-pink:hover,
.btn-pink:focus {
    background-color: var(--pinkmomo);
    color: var(--gray-200);
}
