/* header */
.header {
    height: var(--header-height);
    background-color: var(--white);
    border-bottom: 1px solid var(--pink);
}

/* Navbar */
.navbar {
    padding: 0;
}

.nav-link {
    padding: 10px 0 10px 32px;
    color: var(--black);
}

.dropdown-menu {
    top: 46px;
    font-weight: 500;
    min-width: 150px;
    background-color: var(--gray-100);
    box-shadow: 2px 2px 4px 0 var(--gray-300);
    border: none;
}

.dropdown-menu::after {
    content: '';
    position: absolute;
    top: -28px;
    left: 32px;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent var(--gray-100) transparent;
}

.dropdown-item {
    font-size: 14px;
    padding: 8px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    object-fit: cover;
}

/* Mobile nav */
.mobile-menu-close_btn,
.mobile-menu_btn {
    width: 40px;
    height: 40px;
    font-size: 3rem;
    cursor: pointer;
}

.mobile-menu-close_btn {
    display: none;
}

/* footer */
footer {
    /* display: none; */
}

.logo-footer {
    width: 40px;
    height: 40px;
    background-color: var(--pinkmomo);
}

.logo-contact {
    width: 130px;
    height: 39px;
}

/* film  */
.film-container {
    min-height: 480px;
}

.film-des {
    inset: 0px;
    margin: auto;
    width: 100%;
}

.btn-playing {
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.zoom:hover {
    /* transform: translateX(-50%); */
    animation: zoom 0.3s ease-in-out forwards;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}
